<section>
    <div class="radius-for-skewed bg-gray-50 py-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap items-center">
                <div class="mb-12 w-full lg:mb-0 lg:w-1/2">
                    <div class="max-w-md">
                        <span class="font-bold uppercase text-green-600"
                            >Nombre de la empresa</span
                        >
                        <h2
                            class="font-heading mb-2 text-4xl font-bold lg:text-5xl"
                        >
                            Texto personalizable
                        </h2>
                        <div class="max-w-xs">
                            <p class="leading-loose text-gray-500">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque efficitur nisl
                                sodales egestas lobortis.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2">
                    <div class="mb-12 flex flex-wrap items-start lg:mb-8">
                        <span
                            class="mb-4 inline-flex h-16 w-16 items-center justify-center rounded bg-green-100 text-2xl font-bold text-green-600 lg:mb-0 lg:mr-6"
                            >1</span
                        >
                        <div class="w-full lg:w-3/4">
                            <h3 class="font-heading mb-4 text-2xl font-bold">
                                Beneficio 1
                            </h3>
                            <p class="leading-loose text-gray-500">
                                Fusce quam tellus, placerat eu metus ut, viverra
                                aliquet purus. Suspendisse potenti. Nulla non
                                nibh feugiat.
                            </p>
                        </div>
                    </div>
                    <div class="mb-12 flex flex-wrap items-start lg:mb-8">
                        <span
                            class="mb-4 inline-flex h-16 w-16 items-center justify-center rounded bg-green-100 text-2xl font-bold text-green-600 lg:mb-0 lg:mr-6"
                            >2</span
                        >
                        <div class="w-full lg:w-3/4">
                            <h3 class="font-heading mb-4 text-2xl font-bold">
                                Beneficio 2
                            </h3>
                            <p class="leading-loose text-gray-500">
                                Fusce quam tellus, placerat eu metus ut, viverra
                                aliquet purus. Suspendisse potenti. Nulla non
                                nibh feugiat.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-start">
                        <span
                            class="mb-4 inline-flex h-16 w-16 items-center justify-center rounded bg-green-100 text-2xl font-bold text-green-600 lg:mb-0 lg:mr-6"
                            >3</span
                        >
                        <div class="w-full lg:w-3/4">
                            <h3 class="font-heading mb-4 text-2xl font-bold">
                                Beneficio 3
                            </h3>
                            <p class="leading-loose text-gray-500">
                                Fusce quam tellus, placerat eu metus ut, viverra
                                aliquet purus. Suspendisse potenti. Nulla non
                                nibh feugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
